* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    text-align: center;
    background-color: #1e80ad;
    color: white;
}

nav ul {
    display:flex;
    justify-content: space-between;
    list-style: none;
    min-width: 200px;
}
nav a {
    color:aliceblue;
    text-decoration: none;
    font-weight: bold;
}

main {
    display:flex;
    flex-wrap: wrap;
}

aside {
    flex: 20%;
    padding: 20px;
    flex-wrap: wrap;
    margin: 10px;
    width: 200px;
    height: 100xp;
    border: 1px;
    border-radius: 5px;
}

footer {
    padding: 20px;
    text-align: center;
    background-color:#1e80ad;
    color:aliceblue;
}
img {
    width: 250px;
    height:auto;
}
form {
    background-color: #3c2e8d;
    color: #fff;
}
.wider {
    width: 50%;
    flex-wrap: wrap;
}
.learning {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
.products {
    flex: 4;
    background-color: aqua;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:flex-start
}
.picture {
    border-style:solid;
    border-width: 1px;
    border-radius: 50px;
    padding:10px;
    flex: 0 0 300px;
    box-shadow:10px 10px 5px;
    margin: 20 px;
}
.xlarge {
    width: 400px;
    height: 150px;
}
.text-center {
    text-align: center; 
    background-color: #33a0a0
}
.float-left {
    float:inline-start;
    margin-right: 25px;
}

textarea {
    vertical-align: top;
    height: 60px;
}
@media screen and (max-width: 992px) {
    .picture {
        width: 50%;
    }
}
@media screen and (max-width: 768px) {
    .picture {
      width: 100%;
    }
  }